:root {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  margin: 0;
  background: #111217;
  color: #d8d9da;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
